<div class="edit-menu">
  <div>
    <%= link_to "トップに戻る", root_path, class: "line back" %>
  </div>
  <%= form_with model: current_user do |f| %>
  <p>1.Nickname</p>
  <%= f.text_field :nickname, maxlength: "10", class: "field" %>
  <p>2.読書を通しての目的(30文字以内)</p>
  <%= f.text_area :purpose, maxlength: "30", class: "field" %>
  <%= f.submit "Submit", class: "btn edit-btn" %>
  <% end %>
</div>
