<div>
  <%= link_to "←戻る", root_path, class: "line" %>
</div>
<%= form_with model: current_user do |f| %>
<p>Nickname</p>
<%= f.text_field :nickname %>
<p>読書を通しての目的(20文字以内)</p>
<%= f.text_field :purpose, maxlength: "20" %>
<%= f.submit "Submit" %>
<% end %>
