    <%# user: :favorite, user: :show %>
    <div class="book">
      <div>タイトル: <%= book.title %></div>
      <div>著者: <%= book.author %></div>
      <div>最終更新日: <%= book.updated_at.to_s(:datetime_jp) %></div>
      <div class="book__info">
        <div class="book_<%= book.id %>">
          <%= render partial: 'likes/like', locals: { book: book } %>
        </div>
        <div>
          <%= link_to book_path(book.id), class: "line" do %>
          <i class="fas fa-info-circle"></i>
          <% end %>
        </div>
        <div>
          <%= link_to edit_book_path(book.id), class: "line" do %>
          <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <div>
          <%= link_to book_path(book.id), method: :delete, class: "line" do %>
          <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
