<%= form_with model: @book do |f| %>
<div class="questions">
  <p>Q1. この本がテーマとしている問題提起は何か?<br />その問題に対しどのような解決方法を提案しているか?</p>
  <%= f.text_field :hq1 %>
  <p>Q2. この本はどのように始まりどのように終わったか</p>
  <%= f.text_field :hq2 %>
  <p>Q3. あなたはこの本からなにを学びたいか</p>
  <%= f.text_field :hq3 %>
  <p>Q4. この本が同じジャンル他の本と似ている部分<br />違う部分はどこだろう？</p>
  <%= f.text_field :hq4 %>
  <p>Q5. この本はなぜ重要なのか？</p>
  <%= f.text_field :hq5 %>
  <p>Q6. この本のタイトルは内容と合っているだろうか？<br />あなたが本にタイトルを付け直すとしたら？</p>
  <%= f.text_field :hq6 %>
  <p>Q7. この本のキーポイントやコンセプトは何だろう？</p>
  <%= f.text_field :hq7 %>
  <p>Q8. 本の書き出しをチェックして、作者は読者をひきこむためにどんなトピックを展開しているか？</p>
  <%= f.text_field :hq8 %>
  <p>Q9. 本で扱われているビジュアル要素(チャート・地図・ラベル・グラフ・写真・図解)から何を学んだか？<br />それらの要素からどんな種類の情報を得ることができたのか</p>
  <%= f.text_field :hq9 %>
  <p>Q10. 著者は読者に対してどう考えて欲しいと思っているのだろうか</p>
  <%= f.text_field :hq10 %>
  <p>Q11. 人に勧めるときどの情報を1番に取り上げるか</p>
  <%= f.text_field :hq11 %>
  <p>Q12. 作者はこの本を面白くするためにどのような工夫をしているだろうか</p>
  <%= f.text_field :hq12 %>
  <p>Q13. 作者の主張のどこに賛成できるか？またその理由は？</p>
  <%= f.text_field :hq13 %>
  <p>Q14. テーマを説明するために作者がどのような事例を出しているか？興味深かった例は？</p>
  <%= f.text_field :hq14 %>
  <p>Q15. この本を読んでいるときどんな感覚になったか？</p>
  <%= f.text_field :hq15 %>
  <p>Q16. この本で最も重要な1文はどれか？その理由は何か？</p>
  <%= f.text_field :hq16 %>
  <p>Q17. 本の内容を振り返って、自分にとって１番刺さった箇所はどこか？</p>
  <%= f.text_field :hq17 %>
</div>
<%= f.submit "OK" %>
<% end %>
