<!DOCTYPE html>
<html>

<head>
  <title>BookManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag('favicon.ico') %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="header">
  <%= link_to "Hacettepe book manager", root_path, class: "header__link" %>
    <%= render partial: 'layouts/side-bar' %>
  </div>
  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>

</html>
