<!DOCTYPE html>
<html>

<head>
  <title>BookManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag('favicon.ico') %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="header">
    <%= render partial: 'layouts/side-bar' %>
    <%= link_to "Hacettepe book manager", root_path, class: "header__link" %>
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete, class: "header__link header__right" do %>
        <i class="fas fa-sign-out-alt sign-out-big"></i>
      <% end %>
    <% end %>
  </div>

  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>

</html>
